---
title: Just hack'n
description: Nothing to see here
---

html
  body
    main(data-route="/about/furtherDown")
      p Woahhhhhh that's deep!
      a(href="/") Fuck to back

  script(src="/not-a-react-bundle.js")