---
title: Just hack'n
description: Nothing to see here
---

html
  body
    main(data-route="/about")
      p Very cool!
      a(href="/about/furtherDown") Go deeper

  script(src="/not-a-react-bundle.js")